<h1>Welcome Page</h1>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<p>Find a partner for your Learn Verified Project</p>
<p>Want to pair program more?  Find a partner to work on a short coding challenge.  Exercism.io is a great resource for coding challenges and discussion of code quality. </p>
<p>Here is a problem from exercism you could solve with a partner or alone.</p>
<p>Each exercism problem comes with a description of the problem and tests so you can make sure your code is working.</p>
<p>INSERT DESCRIPTION OF EXERCISM PROBLEM HERE</p>
